body {
    text-align: center;
}

div {
    height: 200px;
    width: 600px;
    border: 2px solid black;
    margin: auto;
}

button {
    height: 40px;
    width: 200px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    background-color: rgb(115, 228, 66);
}

button:hover {
    background-color: rgb(17, 185, 28);
}